body
{
  display: flex;
}
.gallery ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery ul li
{
  display: flex;
  border: 6px solid black;
  align-items: center;
  padding: 15px 20px;
}